/* 共通CSS */

* {
border: 1px solid red;
}

html {
    font-size: 100%;
    color: #333333;
}

a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
}
/* headerセクション */
header {
    width: 100%;
    height: 96px;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    z-index: 30;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 5px 0;
}

header .header-wrapper {
    padding-inline: 5%;
    max-width: 1100px !important;
    margin: 0 auto;
}

.header-box #hamburger{
    display: none;
}

header .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-box h1 {
    height: 67px;
}

header .header-box h1 a {
    height: 100%;
}

header .header-box .header-nav {
    display: flex;
    align-items: center;
}

header .header-box .header-nav li {
    margin-inline: 5px;
}

header .header-box .header-nav li a {
    color: #497DA1;
    font-weight: bold;

}

header .header-box .header-right .counseling-btn {
    margin-left: 5px;
}

header .header-box .header-right {
    display: flex;
}


/* 無料カウンセリングボタン */
.free-counseling {
    position: relative;
}

.header-counseling-btn {
    font-size: 12px;
    background-color: #F8BD28;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 12px 48px 12px 24px;
    position: relative;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
    margin-left: 16px;
}

.counseling-btn {
    background-color: #F8BD28;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 12px 48px 12px 24px;
    position: relative;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.counseling a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
}

.counseling a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 23px;
    width: 11px;
    height: 11px;
    margin: auto;
    border-top: 2px solid #F8BD28;
    border-right: 2px solid #F8BD28;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.counseling-background {
    width: 100%;
    margin-top: -150px;
}

/* TOPページ */
/* mainvisual 翔太：担当 */
.mainvisual {
    width: 100%;
    min-height: calc(110vh - 70px);
    background-image: url(/img/トップベージ/mainvisual01\ \(1\).png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.mainvisual-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: 4%;
}

.mainvisual .mainvisual-wrapper .title h2 {
    color: #FFF;
    background-image: url(/img/文字背景グラデーション.png);
    font-size: 56px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.mainvisual .mainvisual-wrapper .title h3 {
    color: #FFF;
    background-image: url(/img/文字背景グラデーション.png);
    font-size: 40px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.mainvisual .mainvisual-wrapper .title h4 {
    margin-bottom: 30px;
}

.mainvisual .mainvisual-wrapper .text-wrapper {
    display: inline-block;
    text-align: center;
}

.mainvisual .mainvisual-wrapper .text-wrapper p.border {
    margin-bottom: 20px;
}

.mainvisual .mainvisual-wrapper .text-wrapper a {
    font-weight: bold;
    width: 400px;
    padding: 10px;
    background-color: #F8BD28;
    color: #FFF;
    border-radius: 40px;
}

/* お悩み 翔太：担当*/
.problem {
    background-color: #4fbad2;
}
.problem .problem-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.problem .problem-wrapper .problem-back-text {
    font-size: 128px;
    color: #FFFFFF40;
}

.problem .problem-wrapper .problem-front-text p {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    top: 13%;
    left: 38%;
    transform: translate(-50% -50%);
}

.problem .problem-wrapper .problem-front-text h2 {
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 34%;
    transform: translate(-50% -50%);
}

.problem .problem-wrapper .problem-front-text h2 span {
    color: #fccc42;
    font-size: 32px;
}

.problem-befor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-inline: 15%;
}

.problem-befor .problem-befor-item {
    background-color: #EFEFEF;
    border-radius: 20px;
}

.problem-befor .problem-befor-item p {
    font-size: 10px;
    padding: 10px 8px 8px 8px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    position: relative;
}

.problem-befor-item p::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #D9D9D9;
    left: 50%;
    transform: translateX(-50%);
}

.problem-befor .problem-befor-item img {
    width: 90%;
    margin-top: 10px;
}

.problem-after {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-inline: 10%;
}

.problem-after .problem-after-item {
    background-color: #FFF9F1;
    border-radius: 20px;
}

.problem-after .problem-after-item p {
    font-size: 12px;
    padding: 10px 8px 8px 8px;
    margin: 10px;
    background-color: #FFE7C6;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
}

.problem-after .problem-after-item img {
    width: 90%;
    margin-top: 10px;
    align-items: center;
}

/* CHANGE 　翔太：担当*/
.change-wrapper {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
}

.change-wrapper .change-back-text {
    text-align: center;
    font-size: 128px;
    color: #497DA140;
}

.change-wrapper .change-front-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-wrapper .change-front-text p {
    color: #497DA1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
}

.change-wrapper .change-front-text p span {
    color: #fccc42;
    font-weight: bold;
    font-size: 32px;
}

/* メッセージ */
.massage {
    background: linear-gradient(90deg, #72A4AF 0%, #E6F3FF 100%);
    width: 100%;
    padding: 80px 20px;
}

.massage h2 {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: 4%;
    color: #FFFFFF;
    font-size: 48px;
}


/*プロナビの強み */
.strength .strength-wrapper {
    max-width: 1100px;
    margin: 0 auto 100px auto;
    padding-inline: 4%;
    position: relative;
}

.strength .strength-wrapper .strength-back-text {
    text-align: center;
    font-size: 128px;
    color: #497DA140;
}

.strength .strength-wrapper .strength-front-text {
    width: 100%;
}

.strength .strength-wrapper .strength-front-text h3 {
    font-size: 48px;
    color: #497DA1;
    position: absolute;
    top: 10%;
    width: 100%;
}

.strength .strength-wrapper .strength-front-text h4 {
    font-size: 40px;
    color: #80A3BC;
}


/* ============================
   POINT CARD（アニメーション統合）
============================ */

/* point-card の入力チェック制御 */
.strength input {
    display: none;
}

/* 5枚のカードを横に並べる中央配置 */
.strength .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 450px;
    gap: 10px;
    overflow: hidden;
}

.strength .point-card {
    width: 160px;
    border-radius: 20px;
    padding: 20px 30px 20px 20px;
    flex: 0 0 calc((100% - 80px) / 5);
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    background: linear-gradient(90deg,
            #497DA1 0%,
            #528CB4 25%,
            #6CA5CB 70%,
            #E7F5FF 100%);
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
}

.strength .point-card:hover {
    transform: translateX(20px);
    z-index: 10;
}


/* ====== タイトル縦書き（元デザインそのまま） ====== */
.strength .point-card .card-title {
    font-size: 88px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

/* 内容の初期状態（非アクティブでは隠れる） */
.strength .point-card .card-item {
    opacity: 0;
    transform: translateY(30px);
    transition: .4s ease;
    width: 400px;
}


/* hタグ pタグは元のまま */
.strength .point-card .card-item h4 {
    font-size: 40px;
}

.strength .point-card .card-item h3 {
    font-size: 48px;
    background-image: url(/img/文字背景グラデーション.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #FFFFFF;
}

.strength .point-card .card-item p {
    font-size: 20px;
    margin-bottom: 20px;
}


/* ============================
   チェックされたカードのアニメーション
============================ */

.strength input:checked+label.point-card {
    width: 650px;
    /* 選択されたカードが大きくなる */
}

.strength input:checked+label.point-card .card-item {
    opacity: 1;
    transform: translateY(0);
}

/* 非アクティブカードはより細く */
.strength input:not(:checked)+label.point-card {
    width: 120px;
}

/* TOPページ後半 市川担当 */

/* TOPページの受講の流れセクション */
.oursuport {
    margin-bottom: 200px;
}


.oursuport-container {
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 32px;
}

.oursuport-container-title {
    position: relative;
}

.oursuport-container-title h2 {
    font-size: 120px;
    color: #FFFFFF;
    opacity: 0.2;
    line-height: 1.2;
}

.oursuport-container-title h3 {
    font-size: 64px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
}

.oursuport-container-box {
    display: flex;
    background-color: #497DA1;
    border-radius: 40px;
    padding: 32px 48px;
}

.oursuport-container-box:nth-of-type(2) {
    background-color: #6092B4;
}

.oursuport-container-box:nth-of-type(3) {
    background-color: #76A6C7;
}

.oursuport-container-box:nth-of-type(4) {
    background-color: #8EBBD9;
}

.oursuport-container-box:nth-of-type(5) {
    background-color: #BED8EA;
}

.oursuport-container-box-left {
    width: 40%;
}

.oursuport-container-box-right {
    width: 60%;
    padding-left: 40px;
}

.oursuport-left-top,.oursuport-left-bottom,.oursuport-right-top,.oursuport-right-bottom {
    height: 50%;
    color: #FFFFFF;
}

.oursuport-left-top h2 {
    font-size: 48px;
}

.oursuport-left-top h3 {
    font-size: 32px;
    padding-top: 8px;
}

.oursuport-left-bottom img {
    height: 100%;
}

.under-arrow {
    position: relative;
    height: 50px;
    border-bottom: 3px solid #FFFFFF;
}

.under-arrow::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 0;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -17px;
}


.oursuport-right-bottom {
    color: #282D33;
    background-color : #FFFFFF;
    padding: 16px 32px;
}

.oursuport-right-bottom h4 {
    font-size: 24px;
    border-bottom: 2px solid #282D33;
}

.oursuport-right-bottom span {
    font-size: 33px;
    margin-right: 8px;
    letter-spacing: 0.05em;
    
}

.oursuport-right-bottom p {
    font-size: 16px;
    margin-top: 8px;
}

@media screen and (max-width: 960px) {

    .student-voice-contents {
        flex-direction: column;
        max-width: 600px;
        align-items: center;
    }

    .student-voice-item,.teacher-voice-item {
        width: 60%;
    }

    .teacher-voice-contents {
        flex-direction: column;
        max-width: 600px;
    }



    
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 5%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 87vh);
    gap: 50vh;
    margin-bottom: 4vw;
    padding-bottom: 288px;
}

.card0 .card-body {
    height: 50vh;
}

.card0 {
    --index: 1;
}

.card1 {
    --index: 2;
}

.card2 {
    --index: 3;
}

.card3 {
    --index: 4;
}

.card4 {
    --index: 5;
}

.card5 {
    --index: 6;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * 80px);
}

.card-body {
    border-radius:56px;
    height: auto;
    display: flex;
    background-color: #366383;
    border-radius: 40px;
    padding: 16px 48px;
    text-align: left;
}

@media screen and (max-width: 960px) {
    .oursuport {
        margin-bottom: 400px;
    }


    .card-body {
        max-width: 600px;
        /* justify-content: center; */
        flex-direction: column;
        height: auto;
        align-items: center;

    }

    .oursuport-container-title h2 {
        font-size: 56px;
        
    }

    .oursuport-container-title h3 {
        font-size: 24px;
        left: 50%;
        transform: translate(-50%,0);
    }

    .oursuport-left-top h2 {
        margin-bottom: 8px;
        position: relative;
        font-size: 24px;
    }

    .cards {
        gap: 20vh;
    }


    .card {
        margin: 0 auto;
        width: 600px;
        padding-top: calc(var(--index) * 60px);
    }

    .oursuport-container-box-left {
        width: 100%;
        text-align: center;
    }

    .oursuport-container-box-right {
        width: 100%;
        padding-left: 0px;
    }

    .oursuport-left-top h2::after {
        position: absolute;
        right: 30%;
        top: 30%;
        display: block;
        content: "";
        width: 15px;
        height: 15px;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        transform: rotate(45deg);
    }

    .card0 .card-body {
        height: 400px;
    }

    .under-arrow {
        display: none;
    }

    .oursuport-right-bottom {
        margin-top: 32px;
    }

    /* PRICE */
    .price-wrapper {
        width: 100%;
        border-radius: 0;
    }

    .price-wrapper .price-title {
        flex-direction: column;
    }

    .price-wrapper .price-title h2 {
        font-size: 96px;
    }

    .price-wrapper .price-title h3 {
        top: 16%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 48px;
    }

    .service-content {
        flex-direction: column;
        gap: 30px;
    }

    .service-content .service-left {
        width: 100%;
    }

    .service-content .service-right{
        width: 100%;
    }

    .installment-payment .installment-payment-left {
        width:20%;
    }

    .installment-payment .installment-payment-center {
        width:30%;
    }

    .installment-payment .installment-payment-right {
        width:40%;
    }
}

@media screen and (max-width: 375px) {
    .card-body {
        max-width: 300px;
    }
}



.card1 .card-body {
    background-color: #497DA1;
}


.card2 .card-body {
    background-color: #6092B4;
}


.card3 .card-body {
    background-color: #76A6C7;
}


.card4 .card-body {
    background-color: #8EBBD9;
}

.card5 .card-body {
    background-color: #BED8EA;
}

/* カード裏表 */
.before-after {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    padding-inline: 56px;
}

.student-card {
  width: 33%; 
  position: relative;
  cursor: pointer;
}

.student-card::before {
  content: "";
  display: block;
  padding-top: 142.5%;
}

.student-card img {
  width: 100%;
}

.student-card .back,
.student-card .front {
  transition: all 0.8s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.student-card .front {
  transform: rotateY(-180deg);
}

.student-card:hover .back {
  transform: rotateY(180deg);
}

.student-card:hover .front {
  transform: rotateY(0);
}

/* カード裏表 */

.student-voice {
    background-color: #497DA1;
    padding-top: 70px;
    padding-bottom: 100px;
}

.student-voice-container {
    margin: 0 auto;
    max-width: 1100px;
    /* padding-inline: 32px; */
}

.student-voice-word {
    position: relative;
}

.student-voice-word-top {
    font-size: 156px;
    opacity: 0.2;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.01em;
}

.student-voice-word-under {
    font-size: 180px;
    opacity: 0.2;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.3em;
}

.student-voice-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.student-voice-title-text {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;

}
.student-voice-title-text span {
    color: #FCCC42;
    font-size: 32px;
}

.student-voice-item {
    display: flex;
    background-color: #FFF9F1;
    border-radius: 10px;
    margin-inline:16px;
}

.front-student-voice-item {
    display: flex;
    background-color: #CBE4FF;
    border-radius: 10px;
    margin-inline:16px;
}

.student-voice-box {
    text-align: center;
    border: 1px solid #6296D0;
    position: relative;
    margin: 8px;
    padding: 8px;
}

.front-student-voice-box {
    text-align: center;
    border: 1px solid #6296D0;
    position: relative;
    margin: 8px;
    padding: 8px;
}

.student-voice-box h4 {
    color: #8ABEA1;
    opacity: 0.15;
    font-size: 40px;
    letter-spacing: 0.15em;
}

.front-student-voice-box h4 {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 40px;
    letter-spacing: 0.15em;
}

.student-voice-box h5 {
    color: #8ABEA1;
    opacity: 0.15;
    font-size: 40px;
}

.front-student-voice-box h5 {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 40px;
}

.student-voice-box-top {
    display: flex;
}

.voice-box-left {
    width: 30%;
}

.voice-box-right {
    width: 70%;
}

.voice-box-right img {
    width: 100%;
}

.name-join,.job-year {
    display: flex;
    justify-content: space-between;
    margin-block: 8px;
}

.voice-text {
    text-align: left;
    border-top: 1px solid #6296D0; 
    position: relative;
}

.voice-text:before {
    content: '';
    width: 10px;
    height: 10px;
    border:0;
    border-top: 1px solid #6296D0;
    border-right: 1px solid #6296D0;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
}

.voice-text p {
    margin-top: 8px;
}

.voice-text .mark1 {
    background: linear-gradient(transparent 0%, #8ABEA1 0%);
}

.voice-text .front-mark1 {
    background: linear-gradient(transparent 0%, #FCCC42 0%);
}

.voice-text-bottom {
    text-align: center;
    letter-spacing: 0.3em;
    margin-top: -16px;
}

.student-voice-contents {
    margin-top: -100px;
    display: flex;
}

/* slickボタン */
.slide-arrow {
    width: 50px;
    height: 50px;
}

.prev-arrow {
    position: absolute;
    z-index:100;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}

.next-arrow {
    position: absolute;
    z-index:100;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

/* 講師の声セクション */

.teacher-voice {
    background-color: #497DA1;
    padding-top: 70px;
    padding-bottom: 100px;
}

.teacher-voice-container {
    margin: 0 auto;
    max-width: 1100px;
}

.teacher-voice-word {
    position: relative;
}

.teacher-voice-word-top {
    font-size: 156px;
    opacity: 0.2;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.01em;
}

.teacher-voice-word-under {
    font-size: 180px;
    opacity: 0.2;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.3em;
}

.teacher-voice-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.teacher-voice-title-text {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;

}
.teacher-voice-title-text span {
    color: #FCCC42;
    font-size: 32px;
}

.teacher-voice-item {
    display: flex;
    background-color: #FFF9F1;
    border-radius: 10px;
    margin-inline:16px;
}

.teacher-voice-box {
    text-align: center;
    border: 1px solid #6296D0;
    position: relative;
    margin: 8px;
    padding: 8px;
    
}

.teacher-voice-box h4 {
    color: #8ABEA1;
    opacity: 0.15;
    font-size: 40px;
    letter-spacing: 0.15em;

}

.teacher-voice-box h5 {
    color: #8ABEA1;
    opacity: 0.15;
    font-size: 40px;

}

.teacher-voice-box-top {
    display: flex;
}

.voice-box-left {
    width: 30%;
}

.voice-box-right {
    width: 70%;
}

.voice-box-right img {
    width: 100%;
}

.name-join {
    display: flex;
    justify-content: space-between;
    margin-block: 8px;
}
.profile-mark {
    text-align: left;
}

.mark2 {
    background: linear-gradient(transparent 0%, #FCCC42 0%);
}

.voice-text {
    text-align: left;
    border-top: 1px solid #6296D0; 
    position: relative;
}

.voice-text:before {
    content: '';
    width: 10px;
    height: 10px;
    border:0;
    border-top: 1px solid #6296D0;
    border-right: 1px solid #6296D0;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
}

.voice-text p {
    margin-top: 8px;
}

.voice-text-bottom {
    text-align: center;
    letter-spacing: 0.3em;
}

.teacher-voice-contents {
    margin-top: -100px;
    display: flex;
    padding-inline: 56px;
}


/* 大きい下三角形 */
.arrow_wrap{
    padding-bottom: 200px; /* 高さに合わせて調節してください。*/ 
    overflow: hidden;
} 
.arrow{
    position: relative;
}
.arrow::after{
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50vw - 50%);
    width: 0;
    height: 0;
    border-top: 100px solid #497DA1; /* 好みで高さ色を変えてください */
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

/* 料金＆サービスセクション */
.price {
    margin-top: 100px;
}

.price-wrapper {
    background-color: #4FBAD2;
    padding-inline: 5%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 40px;
    padding-block: 56px;
}
.price-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price-title h2 {
    font-size: 176px;
    color: #FFFFFF;
    opacity: 0.2;
    line-height: 1.2;
}

.price-title h3 {
    font-size: 64px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 0;
}

.price-service-container {
    background-color: #C4F2FD;
    border-radius: 10px;
    margin-top: 16px;
    padding: 32px;
}

.service-content {
    display: flex;
    text-align: center;
}

.service-content .service-title {
    font-size: 20px;
    font-weight: 600;
}

.service-title-box,.service-content-box {
    background-color: #497DA1;
    padding-block: 8px;
    border-radius: 5px;
    /* height: 10%; */
}

.service-left {
    width: 35%;
    margin-right: 16px;
    background-color: #FFFFFF;
}

.service-title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.service-title-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.service-title-box,.service-content-box p {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 900;
    /* height: 10%; */
}

.service-title-content-text p {
    margin: 8px;
    font-size: 14px;
    text-align: left;;
}

.service-right {
    width: 65%;
    background-color: #FFFFFF;
}

.service-content-img {
    display: flex;
    flex-direction: column;
}

.service-content-img img {
    width: 70%;
    padding-block: 16px;
    margin: 0 auto;
}

.price-content {
    margin-top: 32px;
    background-color: #FFFFFF;
    height: 200px;
}

.price-content-box {
    background-color: #497DA1;
    padding-block: 8px;
    border-radius: 5px;
}

.price-content-box p {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.5em;
}

.price-number {
    height: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-number p {
    color: #497DA1;
    font-size: 32px;
    font-weight: 600;
}

.price-service-container h4 {
    padding-block: 16px;
    color: #F87C00;
    font-size: 32px;
    text-align: center;
}

.installment-payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.installment-payment-left,.installment-payment-center ,.installment-payment-right {
   background-color: #FFFFFF; 
   width: 30%;
}

.installment-payment-left-box ,.installment-payment-center-box,.installment-payment-right-box {
    background-color: #497DA1;
    padding-block: 8px;
    border-radius: 5px;
    
}

.installment-payment-left-box p,.installment-payment-center-box p,.installment-payment-right-box p {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
}

.installment-payment ul li {
    margin-block: 8px;
    text-align: center;
}

.caution1 {
    margin-bottom: 16px;
}

/* 実績で見るプロナビへ */

.results {
    margin-top: 100px;
}

.results-link {
    width: 100%;
}

.results-wrapper {
    background-color: #4FBAD2;
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 32px;
    border-radius: 40px;
    padding-block: 56px;
}
.top-results-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #FFFFFF;
}

.top-results-title::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -13px;
}

.top-results-title h2 {
    font-size: 176px;
    color: #FFFFFF;
    opacity: 0.2;
    line-height: 1.2;
}

.top-results-title h3 {
    font-size: 64px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 0;
}

/* FAQへ */
.faq-page {
    margin-block: 100px;
}

.faq-link {
    width: 100%;
}

.faq-page-wrapper {
    background-color: #4FBAD2;
    padding-inline: 32px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 40px;
    padding-block: 56px;
}
.faq-page-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #FFFFFF;
}

.faq-page-title::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -13px;
}


.faq-page-title h2 {
    font-size: 176px;
    color: #FFFFFF;
    opacity: 0.2;
    line-height: 1.2;
}

.faq-page-title h3 {
    font-size: 56px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 0;
}



/* 受講の流れ */
.curriculum-background {
    background: linear-gradient(to left, #6296D0, #D9D9D9);
    background: -webkit-linear-gradient(left, #6296D0, #D9D9D9);
    background: -moz-linear-gradient(left, #6296D0, #D9D9D9);
    position: relative;
}

.curriculum-mainvisual {
    height: 60dvh;
    padding-top: 67px;
}

.curriculum-mainvisual-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 32px;
    margin-top: 110px;
}

.curriculum-mainvisual-wrapper h2 {
    color: #FFFFFF;
    font-size: 120px;
    background-image: url(img/受講の流れ_img/ワイヤ用イラスト_32\ \(2\).png);
}

.curriculum-mainvisual-wrapper h3 {
    color: #FFFFFF;
    font-size: 32px;
}

.curriculum-mainvisual-wrapper h4 {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 132px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}

.curriculum-mainvisual-wrapper .curriculum-image {
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

.curriculum-section-wrapper {
    padding-inline: 32px;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.curriculum-section {
    background-color: #CADFF7;
    padding: 50px 56px 550px 56px;
    border-radius: 25px;
    margin-block: 100px;
}

.curriculum-section h5 {
    color: #366383;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 100px;
    z-index: 2;

}

.curriculum-section h5::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 56px;
    content: 'CURRICULUM';
    z-index: -1;
}

.curriculum-content {
    text-align: center;
    background-image :url(img/受講の流れ_img/受講の流れイラスト_background\ 1.png); 
    background-size: 930px;
    position: relative;
}

.start {
    width: 250px;
    position: absolute;
    left: 30%;
    transform: translate(-60%, -15%);
}

.curriculum-step-container {
    display: flex;
    margin-top: 250px;
    z-index: 30;
}

.curriculum-step-container:nth-of-type(2) {
    margin-top: 250px;
}

.curriculum-step-container:nth-of-type(3) {
    margin-top: 100px;
}

.curriculum-step-container:nth-of-type(4) {
    margin-top: 100px;
}

.curriculum-step-container:nth-of-type(5) {
    margin-top: 200px;
}

.curriculum-step01 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #3E67B0;
    color: white;
    padding: 24px 40px;
    text-align: left;
    z-index: 1;
}

.curriculum-step02 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #4A71B7;
    color: white;
    padding: 24px 40px;
    text-align: left;
    z-index: 1;
}

.curriculum-step03 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #577CBD;
    color: white;
    padding: 24px 40px;
    text-align: left;
    z-index: 1;
}

.curriculum-step04 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #7394C9;
    color: white;
    padding: 24px 40px;
    text-align: left;
    z-index: 1;
}

.curriculum-step05 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #B7C4DA;
    color: white;
    padding: 24px 40px;
    text-align: left;
    z-index: 1;
}

.step-img {
    width: 40%;
}

.step-img img {
    width: 200px;
}

.step-title {
    margin-bottom: 32px;
}

.curriculum-step h2 {
    font-size: 32px;
}

.curriculum-step h3 {
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    margin-bottom: 8px;
    padding-left: 56px;
    position: relative;
}

.curriculum-step h3::before {
    position: absolute;
    content: "01";
    top: -14px;
    left: 0px;
    color: #FFFFFF;
    font-size: 32px;
}

.curriculum-step .step02::before {
    content: "02";
}

.curriculum-step .step03::before {
    content: "03";
}

.curriculum-step .step04::before {
    content: "04";
}

.curriculum-step .step05::before {
    content: "05";
}

.goal {
    width: 250px;
    margin-top: 800px;
}

.goal-people {
    display: block;
    margin: 10px auto 0;
    width: 500px;
}

.curriculum-free-counseling {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
}

.curriculum-free-counseling .curriculum-free-counseling-wrapper {
    text-align: center;
}

.curriculum-free-counseling-wrapper p {
    color: #F87C00;
    font-size: 20px;
    margin-bottom: 8px;
}

.curriculum-free-counseling-wrapper h4 {
    z-index: 2;
    color: #497DA1;
    font-size: 28px;
    margin-bottom: 16px;

}

.curriculum-free-counseling-wrapper h4::before {
    position: absolute;
    top: -55px;
    color: #497DA1;
    opacity: 0.15;
    font-size: 156px;
    left: 80px;
    content: 'Pro Navi';
    z-index: -1;
}

.curriculum-counseling-background {
    width: 100%;
    position: absolute;
    bottom: 100px;
}


/* 実績で見るプロナビ ジェイドさん担当*/
.results-box {
    display: flex;
    margin-top: 60px;
    padding: 20px;
    background-color: #497DA1;
    border-radius: 20px;
}

.results-box-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.results-no {
    font-size: 2rem;
    color: white;
    margin: 20px 0 0 20px;
}

.results-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 10px 0 50px 20px;

}

.results-title span {
    padding: 5px 20px;
    background: linear-gradient(to right, #362ae0 0%, #3b79cc 50%, #42d3ed 100%);
}

.results-box img {
    margin: 20px;
}

.results-arrows a {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    margin: 25px;
}

/* コンテナ（中央寄せや余白調整用） */
.btn-container {
    text-align: right;
}

/* 下線矢印リンク */
.arrow-link-underline {
    --arrow-color: #ffffff;
    /* 矢印の色 */
    position: relative;
    /* 疑似要素の位置基準 */
    display: inline-block;
    padding: 0 2.5em .5em .5em;
    /* 右に矢印用の余白 */
    color: var(--arrow-color);
    /* テキスト色 */
    text-decoration: none;
    /* 下線を消す */
}

/* ホバー時も文字色を変えない */
.arrow-link-underline:hover {
    color: var(--arrow-color);
}

/* 下線矢印 */
.arrow-link-underline::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    border-bottom: 5px solid var(--arrow-color);
    border-right: 6px solid var(--arrow-color);
    transform: skewX(55deg);
    /* 矢印の形状 */
    transition: left 0.3s ease;
}

/* 下線矢印のアニメーション */
.arrow-link-underline:hover::before {
    left: 10%;
    /* ホバーで矢印が右にずれる */
}


.results-box-right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.results-text {
    margin: 50px 10px 20px 10px;
    color: white;
}

.results-text-title {
    font-size: 1.875rem;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: justify;
}

/* li .results-box .results-text-title h4:nth-of-type(3){
    font-size: 1.275rem;
}

.results-text-03{
    font-size: 1.275rem !important;
} */

.results-text p {
    padding-top: 15px;
    font-size: 1rem;
    text-align: justify;
}


main .faq-background {
    /* height: 100dvh; */
}


main .faq-wrapper {
    padding-inline: 5%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

main .faq-mainvisual {
    height: 60dvh;
    background: linear-gradient(to left, #6296D0, #D9D9D9);
    background: -webkit-linear-gradient(left, #6296D0, #D9D9D9);
    background: -moz-linear-gradient(left, #6296D0, #D9D9D9);
    padding-top: 67px;
}

.faq-mainvisual-wrapper {
    /* position: relative; */
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 5%;
    margin-top: 60px;
}

.faq-mainvisual-top {
    display: flex;
    justify-content: space-between;
}

main .faq-mainvisual h2 {
    color: #FFFFFF;
    font-size: 4rem;
    background-image: url(img/文字背景グラデーション.png);
    /* background: linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073); */
    display: inline;
    padding: 5px;
    margin-top: 50px;
}


main .faq-mainvisual h3 {
    color: #FFFFFF;
    font-size: 2rem;
}

main .faq-mainvisual h4 {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 156px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}

main .faq-mainvisual .faq-image {
    height: 250px;
}

.faq-section {
    background-color: #CADFF7;
    padding: 50px 56px 24px 56px;
    border-radius: 25px;
    margin-block: 100px;

}

.faq-section h5 {
    color: #366383;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}

.faq-section h5::before,
.results-section h5::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 56px;
    content: 'QUESTION';
    z-index: -1;
}

.faq-accordion {
    margin-top: 24px;
    margin-bottom: 48px;
}

.faq-accordion-header {
    position: relative;
    background-color: #76A6C7;
    color: white;
    padding: 12px 45px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.faq-accordion-header::before,
.faq-accordion-header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #FFFFFF;
}

.faq-accordion-header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.faq-accordion-header.active::after {
    transform: rotate(0deg);
}

.faq-accordion-content {
    background-color: #FFF;
    padding: 12px 45px 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.faq-accordion-header span,
.faq-accordion-content span {
    /* padding-left: 25px; */
    position: relative;
}

.faq-accordion-header span::before {
    position: absolute;
    content: "Q.";
    /* top: 2px; */
    left: -20px;
    color: #FFFFFF;
    font-size: 17px;
}

.faq-accordion-content span::before {
    position: absolute;
    content: "A.";
    left: -20px;
    color: #202128;
    font-size: 17px;
}

.faq-accordion-content {
    display: none;
}

.faq-accordion-content span {
    color: #202128;
}

.free-counseling .free-counseling-wrapper {
    padding-inline: 5%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.free-counseling-wrapper p {
    color: #F87C00;
    font-size: 20px;
    margin-bottom: 8px;
}

.free-counseling-wrapper h4 {
    z-index: 2;
    color: #497DA1;
    font-size: 28px;
    margin-bottom: 16px;

}

.free-counseling-wrapper h4::before {
    position: absolute;
    top: -70px;
    /* left: 50%;
    transform: translateX(-50%); */
    color: #497DA1;
    opacity: 0.15;
    font-size: 200px;
    left: 80px;
    content: 'Pro Navi';
    z-index: -1;
}


/* FAQfooter */
footer {
    background-color: #497DA1;
    padding-block: 100px;

}

.footer-wrapper {
    padding-inline: 5%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 50px;
}

.footer-contents h2 {
    font-size: 32px;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}

.footer-left h2::before {
    position: absolute;
    top: -40px;
    right: -60px;
    /* transform: translateX(-50%); */
    color: #FFFFFF;
    opacity: 0.2;
    font-size: 96px;
    content: 'Pro Navi';
    z-index: -1;
}

.footer-right .footer-right-text {
    margin-bottom: 8px;
    font-size: 12px;
}

.footer-border {
    border-bottom: 2px solid white;
    height: 1px;
}

.footer-bottom {
    color: white;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.footer-right img {
    display: none;
}

.back-btn a {
    color: white;
}



/*************************** SPpage ***************************/

/* PC用のスタイル（より広範な画面幅） */
@media screen and (min-width: 960px) {
    header nav {
        display: none;
        /* PCでは非表示にする */
    }
}

@media screen and (max-width: 960px) {

    /******** ヘッダー ジェイド担当 ********/
    header {
        justify-content: space-between;
    }


    header .header-wrapper {
        width: 100%;
        /* max-width:390px; */
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    #header-right-PC {
        display: none;
    }

    .header-box {
        justify-content: space-between;
    }
    .header-box #hamburger{
        display: block;
    }

    /* リセットCSS */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        vertical-align: middle;
        border: 0;
        background: transparent;
        outline: 0;
        border-radius: 0;
        text-align: inherit;
    }

    button:hover {
        cursor: pointer;
    }

    /**************** 以下、ハンバーガーボタンのスタイリング ****************/
    .btn {
        /* ボタンの配置位置  */
        position: fixed;
    top: 10px;
    right: 50px;
        /* ボタンの大きさ  */
        width: 80px;
        height: 80px;
        /* バーガーの線をボタン範囲の中心に配置 */
        display: flex;
        justify-content: center;
        align-items: center;
        /* 最前面に */
        z-index: 10;
        background-color: #497DA1;
    }


    /***** 真ん中のバーガー線 *****/
    .btn-line {
        /* 線の長さと高さ */
        width: 88%;
        height: 6px;
        border-radius: 3px;
        /* バーガー線の色 */
        background-color: white;
        /* バーガー線の位置基準として設定 */
        position: relative;
        transition: .2s;
    }

    /***** 上下のバーガー線 *****/
    .btn-line::before,
    .btn-line::after {
        content: "";
        /* 基準線と同じ大きさと色 */
        position: absolute;
        left: 1px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: white;
        transition: .2s;
    }


    .btn-line::before {
        /* 上の線の位置 */
        transform: translateY(-16px);
    }


    .btn-line::after {
        /* 下の線の位置 */
        transform: translateY(16px);
    }

    /***** メニューオープン時 *****/
    .btn-line.open {
        /* 真ん中の線を透明に */
        background-color: transparent;
    }

    .btn-line.open::before,
    .btn-line.open::after {
        content: "";
        transition: .2s;
    }

    .btn-line.open::before {
        /* 上の線を傾ける */
        transform: rotate(45deg);
    }

    .btn-line.open::after {
        /* 上の線を傾ける */
        transform: rotate(-45deg);
    }

    /**************** ここまで、ハンバーガーボタンのスタイリング ****************/

    /**************** 以下、メニューのスタイリング ****************/
    .menu {
        position: fixed;
        /* メニューの位置マイナス指定で画面外に */
        transform: translate(-94.5%, -130%);
        width: 101%;
        height: 93vh;
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        padding: 100px;
        background-color: rgba(32, 32, 32, 0.7);
        transition: transform .3s;
        text-align: center;
    }


    .menu-list {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        /* メニューテキスト位置をリスト内中心に */
        display: flex;
        justify-content: center;
        align-items: center;
    }

.menu-list a{
    color: #497DA1;
    font-size: 2rem;
}

.menu-list .counseling a{
    color: white;
}

    .menu-list:hover {
        color: #333;
        background-color: rgba(255, 255, 255, 0.5);
        transition: .3s;
        cursor: pointer;
    }

    /***** メニューオープン時位置0にして画面内に *****/
    .menu.open {
        transform: translate(-94.5%, 8%);
    }

    /* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
    @media screen and (min-width: 960px) {
        .btn {
            display: none;
        }

        .menu {
            position: fixed;
            transform: translateY(0);
            width: 100%;
            height: 100px;
            /* メニューを横に */
            display: flex;
            flex-direction: row;
        }
    }

    /**************** ここまで、メニューのスタイリング ****************/



    /******** FAQ　SPpage　ジェイド担当 ********/
    .faq-mainvisual-top {
        flex-direction: column;
    }

    .faq-mainvisual-wrapper {
        margin-top: 30px;
    }

    faq-mainvisual-title {
        text-align: center;
    }

    main .faq-mainvisual h2 {
        font-size: 2.875rem;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    main .faq-mainvisual h3 {
        font-size: 1rem;
        text-align: center;
    }

    main .faq-mainvisual .faq-image {
        width: 45%;
        height: auto;
        margin: 20px auto;
    }

    main .faq-mainvisual h4 {
        font-size: 3.5rem;
        margin-top: 0;
    }

    .faq-section {
        margin-block: 20px 50px;
        padding: 10% 4% 15% 4%;
    }


    .faq-section h5 {
        font-size: 1rem;
    }

    .faq-section h5::before {
        font-size: 2.5rem;
    }

    .faq-accordion-header {
        padding: 10px 45px 10px;
    }

    .faq-accordion-header span::before {
        top: -10px;
        left: -35px;
        font-size: 1.5rem;
    }


    .free-counseling-wrapper p {
        font-size: 1rem;
    }

    .free-counseling-wrapper h4 {
        font-size: 1.5rem;
        padding: 0 40px;
    }

    .free-counseling-wrapper h4::before {
        font-size: 3.5rem;
        top: 30px;
        left: 60px;
    }


    /******** RESULTS実績　SPpage　ジェイド担当 ********/
    .results-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .results-no {
        font-size: 1.275rem;
    }

    .sp-br {
        display: none;
    }

    .results-title {
        margin: 10px 0 20px 0px;
        margin: 0 auto;
    }


    .results-box img {
        margin: 10px 0;
    }

    .results-box-right {
        flex-flow: column-reverse;
    }

    .results-text-title {
        font-size: 1.375rem;
        text-align: center;
        padding: 0 20px 10px 20px;
    }

    .results-text p {
        font-size: 0.875rem;
    }



    /*******　footer SP JADE　*******/
    footer {
        padding: 30px 6%;
    }

    .footer-contents {
        display: flex;
        flex-direction: column-reverse;
    }


    .footer-contents h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-left h2::before {
        display: none;
    }

    .footer-left p {
        text-align: center;
    }

    .footer-right {
        margin: 20px 0 30px;
        text-align: center;
    }

    .footer-right .footer-right-text {
        padding: 0 50px;
    }

    .footer-btn {
        display: none;
    }

    .counseling img {
        display: block;
        margin-inline: auto;
        background-color: white;
    }


}

