/* 共通CSS */
* {
    border: 1px solid red;
}

html {
    font-size: 100%;
    color: #333333;
}

a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
}

/* headerセクション */
header {
    height: 100%;
    background: linear-gradient(to right, #6296D0, #D9D9D9);
    background: -webkit-linear-gradient(right,  #6296D0, #D9D9D9);
    background: -moz-linear-gradient(right,  #6296D0, #D9D9D9);
    padding-block: 5px;
}

header .header-wrapper {
    padding-inline: 4%;
}

header .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-box h1 {
    height: 67px;
}

header .header-box h1 a {
    height: 100%;
}

header .header-box .header-nav {
    display: flex;
}

header .header-box .header-nav li {
    margin-inline: 5px;
}

header .header-box .header-right .header-btn {
    margin-left: 5px;
}

header .header-box .header-right {
    display: flex;
}

/* TOPページ */


/* 受講の流れ */


/* 実績で見るプロナビ 翔太さん担当*/



/* FAQpage　市川担当 */


