/* 共通CSS */
* {
    border: 1px solid red;
}

html {
    font-size: 100%;
    color: #333333;
}

a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
}

/* headerセクション */
header {
    width: 100%;
    background-color: white;
    position: fixed;
}

header .header-wrapper {
    padding-inline: 4%;
    max-width: 1100px;
    margin: 0 auto;
}

header .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-box h1 {
    height: 67px;
}

header .header-box h1 a {
    height: 100%;
}

header .header-box .header-nav {
    display: flex;
    align-items: center;

}

header .header-box .header-nav li {
    margin-inline: 5px;
}

header .header-box .header-nav li a {
    color: #497DA1;
    font-weight: bold;

}

header .header-box .header-right .counseiling-btn {
    margin-left: 5px;
}

header .header-box .header-right {
    display: flex;
}

/* 無料カウンセリングボタン */
.free-counseling {
    position: relative;
}

.header-counseling-btn {
    font-size: 12px;
    background-color: #F8BD28;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 12px 48px 12px 24px;
    position: relative;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
    margin-left: 16px;
}

.counseling-btn {
    background-color: #F8BD28;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 12px 48px 12px 24px;
    position: relative;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.counseling a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
}

.counseling a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 23px;
    width: 11px;
    height: 11px;
    margin: auto;
    border-top: 2px solid #F8BD28;
    border-right: 2px solid #F8BD28;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.counseling-background {
    width: 100%;
    margin-top: -150px;
}

/* TOPページ */
/* mainvisual 翔太：担当 */
.mainvisual {
    width: 100%;
    min-height: calc(110vh - 70px);
    background-image: url(/img/トップベージ/main.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.mainvisual-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: 4%;
}

.mainvisual .mainvisual-wrapper .title h2 {
    color: #FFF;
    background-image: url(/img/文字背景グラデーション.png);
    font-size: 56px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.mainvisual .mainvisual-wrapper .title h3 {
    color: #FFF;
    background-image: url(/img/文字背景グラデーション.png);
    font-size: 40px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.mainvisual .mainvisual-wrapper .title h4 {
    margin-bottom: 30px;
}

.mainvisual .mainvisual-wrapper .text-wrapper {
    display: inline-block;
    text-align: center;
}

.mainvisual .mainvisual-wrapper .text-wrapper p.border {
    margin-bottom: 20px;
}

.mainvisual .mainvisual-wrapper .text-wrapper a {
    font-weight: bold;
    width: 400px;
    padding: 10px;
    background-color: #F8BD28;
    color: #FFF;
    border-radius: 40px;
}

/* お悩み 翔太：担当*/
.problem {
    background-color: #3da2b8;
}

.problem .problem-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.problem .problem-wrapper .problem-back-text {
    font-size: 128px;
    color: #FFFFFF40;
}

.problem .problem-wrapper .problem-front-text p {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
}

.problem .problem-wrapper .problem-front-text h2 {
    font-weight: bold;
    color: #FFFFFF;
}

.problem .problem-wrapper .problem-front-text h2 span {
    color: #fccc42;
    font-size: 32px;
}

/* CHANGE 　翔太：担当*/
.change-back-text {
    text-align: center;
    font-size: 128px;
    color: #497DA1 40;
}



/* 受講の流れ */
.curriculum-background {
    background: linear-gradient(to left, #6296D0, #D9D9D9);
    background: -webkit-linear-gradient(left, #6296D0, #D9D9D9);
    background: -moz-linear-gradient(left, #6296D0, #D9D9D9);
}

.curriculum-mainvisual {
    height: 60dvh;
    padding-top: 67px;
}

.curriculum-mainvisual-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 5%;
    margin-top: 110px;
}

.curriculum-mainvisual-wrapper h2 {
    color: #FFFFFF;
    font-size: 120px;
    background-image: url(img/受講の流れ_img/ワイヤ用イラスト_32\ \(2\).png);
}

.curriculum-mainvisual-wrapper h3 {
    color: #FFFFFF;
    font-size: 32px;
}

.curriculum-mainvisual-wrapper h4 {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 132px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}

.curriculum-mainvisual-wrapper .curriculum-image {
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

.curriculum-section-wrapper {
    padding-inline: 5%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.curriculum-section {
    background-color: #CADFF7;
    padding: 50px 56px 24px 56px;
    border-radius: 25px;
    margin-block: 100px;
}

.curriculum-section h5 {
    color: #366383;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    z-index: 2;

}

.curriculum-section h5::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 56px;
    content: 'CURRICULUM';
    z-index: -1;
}

.curriculum-content {
    text-align: center;
}

.start {
    width: 250px;
    position: relative;
}

.course1 {
    position: absolute;
    left: 180px;
    top: 1000px;
    width: 500px;
    z-index: 0;
}

.curriculum-step01-container {
    display: flex;
    margin-top: 250px;
    z-index: 30;
}

.curriculum-step01 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background-color: #3E67B0;
    color: white;
    padding: 24px 40px;
    text-align: left;
}

.step01-img {
    width: 40%;
}

.step01-img img {
    width: 200px;
}

.step-title {
    margin-bottom: 32px;
}

.curriculum-step01 h2 {
    font-size: 32px;
}

.curriculum-step01 h3 {
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    margin-bottom: 8px;
    padding-left: 56px;
    position: relative;
}

.curriculum-step01 h3::before {
    position: absolute;
    content: "01";
    top: -14px;
    left: 0px;
    color: #FFFFFF;
    font-size: 32px;
}

/* 実績で見るプロナビ 翔太さん担当*/



/* FAQpage　市川担当 */

main .faq-background {
    /* height: 100dvh; */

}

main .faq-wrapper {
    padding-inline: 5%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

main .faq-mainvisual {
    height: 60dvh;
    background: linear-gradient(to left, #6296D0, #D9D9D9);
    background: -webkit-linear-gradient(left, #6296D0, #D9D9D9);
    background: -moz-linear-gradient(left, #6296D0, #D9D9D9);
    padding-top: 67px;
}

.faq-mainvisual-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding-inline: 5%;
    margin-top: 110px;

}

main .faq-mainvisual h2 {
    color: #FFFFFF;
    font-size: 120px;
    background-image: url(img/文字背景グラデーション.png);
    /* background: linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073); */
    display: inline;
    padding: 5px;
    margin-top: 50px;

}

main .faq-mainvisual h3 {
    color: #FFFFFF;
    font-size: 40px;
}

main .faq-mainvisual h4 {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 156px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}

main .faq-mainvisual .faq-image {
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.faq-section {
    background-color: #CADFF7;
    padding: 50px 56px 24px 56px;
    border-radius: 25px;
    margin-block: 100px;

}

.faq-section h5 {
    color: #366383;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}

.faq-section h5::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 56px;
    content: 'QUESTION';
    z-index: -1;
}

.faq-accordion {
    margin-top: 24px;
    margin-bottom: 48px;
}

.faq-accordion-header {
    position: relative;
    background-color: #76A6C7;
    color: white;
    padding: 12px 45px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.faq-accordion-header::before,
.faq-accordion-header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #FFFFFF;
}

.faq-accordion-header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.faq-accordion-header.active::after {
    transform: rotate(0deg);
}

.faq-accordion-content {
    background-color: #FFF;
    padding: 12px 45px 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.faq-accordion-header span,
.faq-accordion-content span {
    /* padding-left: 25px; */
    position: relative;
}

.faq-accordion-header span::before {
    position: absolute;
    content: "Q.";
    /* top: 2px; */
    left: -20px;
    color: #FFFFFF;
    font-size: 17px;
}

.faq-accordion-content span::before {
    position: absolute;
    content: "A.";
    left: -20px;
    color: #202128;
    font-size: 17px;
}

.faq-accordion-content {
    display: none;
}

.faq-accordion-content span {
    color: #202128;
}

.free-counseling .free-counseling-wrapper {
    padding-inline: 5%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.free-counseling-wrapper p {
    color: #F87C00;
    font-size: 20px;
    margin-bottom: 8px;
}

.free-counseling-wrapper h4 {
    z-index: 2;
    color: #497DA1;
    font-size: 28px;
    margin-bottom: 16px;

}

.free-counseling-wrapper h4::before {
    position: absolute;
    top: -70px;
    /* left: 50%;
    transform: translateX(-50%); */
    color: #497DA1;
    opacity: 0.15;
    font-size: 200px;
    left: 80px;
    content: 'Pro Navi';
    z-index: -1;
}


/* FAQfooter */
.faq-footer {
    background-color: #497DA1;
    padding-block: 100px;

}

.footer-wrapper {
    padding-inline: 5%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 50px;
}

.footer-contents h2 {
    font-size: 32px;
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}

.footer-left h2::before {
    position: absolute;
    top: -40px;
    right: -60px;
    /* transform: translateX(-50%); */
    color: #FFFFFF;
    opacity: 0.2;
    font-size: 96px;
    content: 'Pro Navi';
    z-index: -1;
}

.footer-right .footer-right-text {
    margin-bottom: 8px;
    font-size: 12px;
}

.footer-border {
    border-bottom: 2px solid white;
    height: 1px;
}

.footer-bottom {
    color: white;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

}

.back-btn a {
    color: white;
    ;
}